In [ ]:
"""
# Part 9: functions in Python (part 1/4)
# source: 'https://wikidocs.net/23906'
"""

In [ ]:
"""
201
Define a function `print_coin()` that prints the string "Bitcoin" to the screen.
"""

In [4]:
def print_coin():
    print("Bitcoin")

print_coin()

Bitcoin

In [ ]:
"""
202  
Call the function defined in question 201.
"""

In [5]:
print_coin()

Bitcoin

In [ ]:
"""
203  
Call the `print_coin()` function from question 201 a total of 100 times.
"""

In [7]:
for _ in range(100):
    print_coin()

Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin

In [ ]:
"""
204  
Define a function `print_coins()` that prints the string "Bitcoin" 100 times to the screen.
"""

In [9]:
def print_coins():
    for _ in range(100):
        print("Bitcoin")

In [10]:
print_coins()

Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin
Bitcoin

In [ ]:
"""
205  
Explain the reason for the following error:

hello()
def hello():
    print("Hi")

Runtime output:  
NameError: name 'hello' is not defined

Explanation:  
The function `hello()` was called before it was defined, so Python does not recognize it yet.  
In Python, functions must be defined before they are called.

"""

In [ ]:
"""
206  
Predict the output of the following code:

def message():
    print("A")
    print("B")

message()
print("C")
message()
"""

In [ ]:
"""
Prediction
A
B
C
A
B
"""

In [12]:
"""
207  
Predict the output of the following code. (An example of poorly readable code.)

print("A")

def message():
    print("B")

print("C")
message()

Output:  
A  
C  
B
"""

A
C
B

In [ ]:
"""
208  
Predict the output of the following code. (An example of poorly readable code.)

print("A")

def message1():
    print("B")

print("C")

def message2():
    print("D")

message1()
print("E")
message2()

Output:  
A  
C  
B  
E  
D
"""

In [ ]:
"""
209  
Predict the output of the following code:

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

Output:  
B  
A
"""

In [ ]:
"""
210  
Predict the output of the following code:

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range(3):
        message2()
        print("C")
    message1()

message3()

Output:  
B  
C  
B  
C  
B  
C  
A
"""

In [ ]:
"""
# Part 9: functions in Python (part 2/4)
# source: 'https://wikidocs.net/23907'
"""

In [ ]:
"""
Predict the result of the following function calls:

def function(string):
    print(string)

function("Hello")  
function("Hi")
"""

In [13]:
def function(string):
    print(string)

function("Hello")
function("Hi")

Hello
Hi

In [ ]:
"""
212  
Predict the result of the following function calls:

def function(a, b):
    print(a + b)

function(3, 4)  
function(7, 8)
"""

In [14]:
def function(a,b):
    print(a+b)

function(3,4)
function(7,8)

7
15

In [ ]:
"""
213  
Explain the cause of the following error:

def function(string):
    print(string)

function()

Error:  
TypeError: function() missing 1 required positional argument: 'string'

Explanation:  
The function was defined to take one argument but was called without any. Therefore, Python raises an error for the missing argument.
"""

In [ ]:
"""
214  
Explain the cause of the following error:

def function(a, b):
    print(a + b)

function("Hello", 3)

Error:  
TypeError: must be str, not int

Explanation:  
You are trying to add a string and an integer, which is not allowed in Python without explicit conversion.
"""

In [ ]:
"""
215  
Define a function `print_with_smile` that takes a single string and appends the smiley ":D" to the end before printing it.

Example:  
Input: "Hello"  
Output: Hello:D
"""

In [18]:
def print_with_smile(string):
    added_string = string + ":D"
    return added_string

print(print_with_smile("Hello"))

Hello:D

In [ ]:
"""
216  
Call the function defined in question 215 with the parameter `"Hello"`.
"""

In [19]:
print(print_with_smile("Hello"))

Hello:D

In [ ]:
"""
217  
Define a function `print_upper_price` 
that receives the current price and prints the upper limit price (30% increase).
"""

In [21]:
def print_upper_price(current_price):
    upper_limit_price = 1.3 * current_price
    print(upper_limit_price)

In [22]:
print_upper_price(130)

169.0

In [ ]:
"""
218  
Define a function `print_sum` that takes two numbers as input and prints their sum.
"""

In [ ]:
def print_sum(num1, num2):
    print(num1 + num2)

In [ ]:
"""
219  
Define a function `print_arithmetic_operation` that takes two numbers and 
prints the result of addition, subtraction, multiplication, and division.

Example:  
print_arithmetic_operation(3, 4)  
3 + 4 = 7  
3 - 4 = -1  
3 * 4 = 12  
3 / 4 = 0.75
"""

In [24]:
def print_arithmetic_operation(num1, num2):
    print(num1, " + ", num2, " = ", num1 + num2)
    print(num1, " - ", num2, " = ", num1 - num2)
    print(num1, " * ", num2, " = ", num1 * num2)
    print(num1, " / ", num2, " = ", num1 / num2)

print_arithmetic_operation(3,4)

3  +  4  =  7
3  -  4  =  -1
3  *  4  =  12
3  /  4  =  0.75

In [ ]:
"""
220  
Define a function `print_max` that takes three numbers as input and prints the largest number using if statements.
"""

In [ ]:
def print_max(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        print(num1)
    elif num2 >= num1 and num2 >= num3:
        return(num2)
    elif num3 >= num1 and num3 >= num1:
        return(num3)

In [ ]:
"""
# Part 9: functions in Python (part 3/4)
# source: 'https://wikidocs.net/7039'
"""

In [ ]:
"""
221  
Define a function `print_reverse` that prints the reverse of the input string.

print_reverse("python")  
Output: nohtyp
"""

In [28]:
def print_reverse(string):
    reversed_string = string[::-1]
    return reversed_string

print(print_reverse("python"))

nohtyp

In [ ]:
"""
222  
Define a function `print_score` that takes a list of scores and prints the average.

print_score([1, 2, 3])  
Output: 2.0
"""

In [31]:
def print_score(list_scores):
    list_sum = sum(list_scores)
    list_average = list_sum / len(list_scores)
    print(list_average)

In [32]:
print_score([1,2,3])

2.0

In [ ]:
"""
223  
Define a function `print_even` that takes a list and prints only the even numbers.

print_even([1, 3, 2, 10, 12, 11, 15])  

Output:  
2  
10  
12
"""

In [34]:
def print_even(list_nums):
    for number in list_nums:
        if number % 2 == 0:
            print(number)

print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
"""
224  
Define a function `print_keys` that takes a dictionary and prints its keys.

print_keys({"name":"Kim Maltong", "age":30, "gender":0})  
Output:  
name  
age  
gender
"""

In [4]:
def print_keys(dictionary):
    result = dictionary.keys()
    for key in result:
        print(key)

In [5]:
print_keys({"name":"Kim Maltong", "age":30, "gender":0})

name
age
gender

In [ ]:
"""
225  
`my_dict` stores OHLC values in a list with dates as keys.  
Define a function `print_value_by_key` that takes `my_dict` and a date key, and prints the OHLC list.

print_value_by_key(my_dict, "10/26")  
Output:  
[100, 130, 100, 100]
"""

In [7]:
def print_value_by_key(my_dict, date_key):
    value_result = my_dict[date_key]
    print(value_result)

In [8]:
test_dict = {"10/26": [100, 130, 100, 100]}

print_value_by_key(test_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
"""
226  
Write a function `print_5xn(string)` that prints the input string in chunks of 5 characters per line.

print_5xn("IAmABoyYouAreAGirl")  
Output:  
IAmAB  
oyYou  
AreAG  
irl
"""

In [21]:
def print_5xn(string):
#string = "IAmABoyYouAreAGirl"
    divisor = 5
    length = len(string)
    end_index = len(string) // divisor + 1
    
    for index in range(end_index):
        #print(index)
        if (5 * index + 1) >= (length - 1):
            print(string[index * 5 + 1: length - 1])
        else:
            print(string[index * 5: index * 5 + 5])

In [22]:
print_5xn("IAmABoyYouAreAGirl")

IAmAB
oyYou
AreAG
irl

In [68]:
def print_5xn(string):
    for index in range(0, len(string), 5):
        print(string[index:index+5])

In [69]:
print_5xn("IAmABoyYouAreAGirl")

IAmAB
oyYou
AreAG
irl

In [65]:
"""
227  
Write a function `print_mxn(string, num)` that prints the input string in lines with `num` characters per line.

print_mxn("IAmABoyYouAreAGirl", 3)  
Output:  
IA  
mAB  
oyY  
ouA  
reA  
Gir  
l
"""

'\n227  \nWrite a function `print_mxn(string, num)` that prints the input string in lines with `num` characters per line.\n\nprint_mxn("IAmABoyYouAreAGirl", 3)  \nOutput:  \nIA  \nmAB  \noyY  \nouA  \nreA  \nGir  \nl\n'

In [66]:
def print_mxn(string, num):
    length = len(string)
    for i in range(0, length, num):
        print(string[i:i+num])

In [62]:
print_mxn("IAmABoyYouAreAGirlHere", 3)

IAm
ABo
yYo
uAr
eAG
irl
Her
e

In [ ]:
"""
228  
Define a function `calc_monthly_salary(annual_salary)` that calculates and returns monthly salary by dividing the annual salary by 12 and truncating any fraction less than 1.

calc_monthly_salary(12000000)  
Output: 1000000
"""

In [74]:
def calc_monthly_salary(annual_salary):
    return int(annual_salary // 12)

In [75]:
print(calc_monthly_salary(12000000))

1000000

In [ ]:
"""
229  
Predict the output of the following code:

def my_print(a, b):
    print("Left:", a)
    print("Right:", b)

my_print(a=100, b=200)

Output:  
Left: 100  
Right: 200
"""

In [ ]:
"""
230  
Predict the output of the following code:

def my_print(a, b):
    print("Left:", a)
    print("Right:", b)

my_print(b=100, a=200)

Output:  
Left: 200  
Right: 100
"""

In [ ]:
"""
# Part 9: functions in Python (part 4/4)
# source: 'https://wikidocs.net/78556'
# questions 231 - 240
"""

In [ ]:
"""
231  
Predict the output of the following code:

def n_plus_1(n):
    result = n + 1

n_plus_1(3)
print(result)

Output:  
NameError: name 'result' is not defined  

Explanation:  
The variable `result` is defined inside the function `n_plus_1`, so it's not accessible outside the function scope.
"""

In [ ]:
"""
232  
Define a function `make_url` that takes a string and returns an internet address.

make_url("naver")  
Output: www.naver.com
"""

In [76]:
def make_url(url):
    result = "www." + url + ".com"
    return result

In [77]:
print(make_url("naver"))

www.naver.com

In [ ]:
"""
233  
Define a function `make_list` that takes a string and returns a list consisting of its characters.

make_list("abcd")  
Output: ['a', 'b', 'c', 'd']
"""

In [79]:
def make_list(string):
    char_list = []
    for character in string:
        char_list.append(character)

    return char_list

In [80]:
print(make_list("abcd"))

['a', 'b', 'c', 'd']

In [ ]:
"""
234  
Implement a function `pickup_even` that takes a list of numbers and returns a list containing only the even numbers.

pickup_even([3, 4, 5, 6, 7, 8])  
Output: [4, 6, 8]
"""

In [81]:
def pickup_even(list_nums):
    even_list = []
    for number in list_nums:
        if number % 2 == 0:
            even_list.append(number)

    return even_list

In [82]:
print(pickup_even([3, 4, 5, 6, 7, 8]))

[4, 6, 8]

In [ ]:
"""
235  
Define a function `convert_int` that takes a string containing commas and returns it as an integer.

convert_int("1,234,567")  
Output: 1234567
"""

In [83]:
def convert_int(string):
    comma_removed_string = string.replace(',','')
    integer_string = int(comma_removed_string)
    return integer_string

In [84]:
print(convert_int("1,234,567"))

1234567

In [ ]:
"""
236  
Predict the output of the following code:

def func(num):
    return num + 4

a = func(10)   # 14  
b = func(a)    # 18  
c = func(b)    # 22  
print(c)

Output: 22
"""

In [85]:
def func(num):
    return num + 4

a = func(10)   # 14  
b = func(a)    # 18  
c = func(b)    # 22  
print(c)

22

In [ ]:
"""
237  
Predict the output of the following code:

def func(num):
    return num + 4

c = func(func(func(10)))  
# func(10) → 14  
# func(14) → 18  
# func(18) → 22  
print(c)

Output: 22
"""

In [ ]:
"""
238  
Predict the output of the following code:

def func1(num):
    return num + 4

def func2(num):
    return num * 10

a = func1(10)  # 14  
c = func2(a)   # 140  
print(c)

Output: 140
"""

In [ ]:
"""
239  
Predict the output of the following code:

def func1(num):
    return num + 4

def func2(num):
    num = num + 2
    return func1(num)

c = func2(10)  # func1(12) → 16  
print(c)

Output: 16
"""

In [ ]:
"""
240  
Predict the output of the following code:

def func0(num):
    return num * 2

def func1(num):
    return func0(num + 2)

def func2(num):
    num = num + 10
    return func1(num)

c = func2(2)  
# func2(2) → func1(12) → func0(14) → 28  
print(c)

Output: 28
"""