In [2]:
# Part 3: Strings in Python
# source: 'https://wikidocs.net/7022'

In [ ]:
"""
021 String Indexing
Print the first and third characters from the string that letters is bound to.
>> letters = 'python'

Example of execution
p t
"""

In [1]:
letters = 'python'
print(letters[0])
print(letters[2])

p
t

In [2]:
"""
022 String Slicing
When the car license plate number is as follows, print only the last 4 digits.
>> license_plate = "24A 2210"
Example output: 2210
"""

'\n022 String Slicing\nWhen the car license plate number is as follows, print only the last 4 digits.\n>> license_plate = "24A 2210"\n\n'

In [3]:
license_plate = "24A 2210"

In [11]:
print(license_plate[-4:])

2210

In [ ]:
"""
023 String Indexing
Print only the characters 'A' from the string below.
>> string = "ABABAB"
Example output: AAA
"""

In [3]:
string = "ABABAB"
print(string[::2])

AAA

In [28]:
print(string[::3])

AB

Explanation:
string[::3] uses Python slicing with three parts:
string[start:stop:step]
- start: where to begin (default is 0 if omitted)
- stop: where to end (default is end of string if omitted)
- step: how many characters to skip each time (here, 3)

In [1]:
"""
Index:   0 1 2 3 4 5  
String:  A B A B A B

Taking every 3rd character starting from index 0:
Index 0 → 'A'
Index 3 → 'B'

So the result is AB
"""

'\nIndex:   0 1 2 3 4 5  \nString:  A B A B A B\n'

In [4]:
print(string[::4])

AA

In [ ]:
"""
025 String Replacement

Remove the hyphens ('-') from the phone number below and print the result.
>> phone_number = "010-1111-2222"

Example output:
010 1111 2222
"""

In [5]:
phone_number = "010-1111-2222"

In [9]:
print(phone_number.replace('-', ' '))

010 1111 2222

In [10]:
print(phone_number)

010-1111-2222

In [ ]:
"""
026 String Manipulation
Take the phone number from problem 25 and print it as a single, continuous string as shown below.

Example Output:
01011112222"""

In [8]:
phone_number = "010-1111-2222"

In [11]:
print(phone_number.replace('-', ''))

01011112222

In [ ]:
"""
027 String Manipulation
Print the domain from the web page address stored in the variable `url`.

>> url = "http://sharebook.kr"

Example Output:
kr
"""

In [12]:
url = "http://sharebook.kr"

In [13]:
url_split = url.split('.')
print(url_split)

['http://sharebook', 'kr']

In [14]:
print(url_split[-1])

kr

In [ ]:
"""
028 Strings are immutable
Predict the result of running the code below.

>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
"""

In [16]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
"""
029 replace method
In the string below, replace all lowercase 'a' characters with uppercase 'A'.

>> string = 'abcdfe2a354a32a'

Example Output:
Abcdfe2A354A32A
"""

In [17]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [ ]:
"""
030 replace method
Predict the result of running the code below.

>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)
"""

In [18]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
"""
031 String Concatenation
Predict the result of running the code below.

>> a = "3"
>> b = "4"
>> print(a + b)
"""

In [20]:
a = "3"
b = "4"
print(a+b)

34

In [ ]:
"""
032 String Multiplication
Predict the result of running the code below.

>> print("Hi" * 3)
"""

In [21]:
print("Hi" * 3)

HiHiHi

In [ ]:
"""
033 String Multiplication
Print 80 hyphens ('-') on the screen.

Example Output:
--------------------------------------------------------------------------------
"""

In [22]:
print('-' * 80)

--------------------------------------------------------------------------------

In [ ]:
"""
034 String Multiplication
The following strings are bound to variables:

>>> t1 = 'python'
>>> t2 = 'java'

Using string concatenation and string multiplication, print the following:

Example Output:
python java python java python java python java
"""

In [24]:
t1 = 'python'
t2 = 'java'

In [25]:
print( (t1 + ' ' + t2 + ' ') * 3)

python java python java python java

In [ ]:
"""
035 String Output
Given the following variables bound to a string and an integer, use % formatting to produce the output shown below.

name1 = "David" 
age1 = 10
name2 = "Ellie"
age2 = 13

Expected Output:
Name: David Age: 10
Name: Ellie Age: 13
"""

In [31]:
name1 = "David" 
age1 = 10
name2 = "Ellie"
age2 = 13

In [34]:
print("Name: %s Age: %d" % (name1, age1))
print("Name: %s Age: %d" % (name2, age2))

Name: David Age: 10
Name: Ellie Age: 13

In [ ]:
"""
036 String Output
Solve problem 035 again using the string's format() method.
"""

In [36]:
print("Name: {} Age: {}".format(name1, age1))
print("Name: {} Age: {}".format(name2, age2))

Name: David Age: 10
Name: Ellie Age: 13

In [ ]:
"""
037 String Output
Solve problem 035 again using f-strings, which are supported starting from Python 3.6.
"""

In [38]:
print(f"Name: {name1}, Age: {age1}")
print(f"Name: {name2}, Age: {age2}")

Name: David, Age: 10
Name: Ellie, Age: 13

In [ ]:
"""
038 Removing Commas
The number of listed shares for Samsung Electronics is given below. Remove the commas and convert it to an integer type.

numberShares = "5,969,782,550"
"""

In [39]:
numberShares = "5,969,782,550"
numberShares = int(numberShares.replace(',', ''))

In [41]:
print(numberShares, type(numberShares))

5969782550 <class 'int'>

In [ ]:
"""
039 String Slicing
From the following string, print only '2020/03'.

quarter = "2020/03(E) (IFRS - related)"
"""

In [44]:
quarter = "2020/03(E) (IFRS - related)"
print(quarter[:7])

2020/03

In [ ]:
"""
040 strip method
When a string has whitespace on both sides, remove it.

data = "   삼성전자    "
"""

In [49]:
data = "   삼성전자    "
data1 = data.split()
print(data1)

['삼성전자']

In [ ]:
"""
041 upper method
Given the following string, convert it to uppercase as BTC_KRW.

ticker = "btc_krw"
"""

In [50]:
ticker = "btc_krw"
ticker_upper = ticker.upper()

In [51]:
print(ticker_upper)

BTC_KRW

In [ ]:
"""
042 lower method
Given the following string, convert it to lowercase as btc_krw.

ticker = "BTC_KRW"
"""

In [52]:
ticker = "BTC_KRW"
ticker_lower = ticker.lower()

print(ticker_lower)

btc_krw

In [ ]:
"""
043 capitalize method
Given the string 'hello', convert it to 'Hello'.
"""

In [53]:
string = 'hello'
string_capital = string.capitalize()
print(string_capital)

Hello

In [ ]:
"""
044 endswith method
When a file name is stored as a string, use the endswith method to check whether the file name ends with 'xlsx'.

file_name = "보고서.xlsx"
"""

In [54]:
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))

True

In [ ]:
"""
045 endswith method
When a file name is stored as a string, use the endswith method to check whether the file name ends with 'xlsx' or 'xls'.

file_name = "보고서.xlsx"
"""

In [56]:
file_name = "보고서.xlsx"
print(file_name.endswith(("xlsx", "xls")))

True

In [ ]:
"""
046 startswith method
When a file name is stored as a string, use the startswith method to check whether the file name starts with '2020'.

file_name = "2020_보고서.xlsx"
"""

In [57]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

In [ ]:
"""
047 split method
Given the following string, split it based on spaces.

a = "hello world"
"""

In [59]:
a = "hello world"
a_split_space = a.split()
print(a_split_space)

['hello', 'world']

In [ ]:
"""
048 split method
Given the following string, split it into 'btc' and 'krw'.

ticker = "btc_krw"
"""

In [60]:
ticker = "btc_krw"
ticker_split = ticker.split('_')
print(ticker_split)

['btc', 'krw']

In [ ]:
"""
049 split method
Given the following string representing a date, split it into year, month, and day.

date = "2020-05-01"
"""

In [61]:
date = "2020-05-01"
date_split = date.split('-')
print(date_split)

['2020', '05', '01']

In [ ]:
"""
050 rstrip method
When there is whitespace on the right side of a string, remove it.

data = "039490   "
"""

In [62]:
data = "039490   "
data_rstrip = data.rstrip()
print(data_rstrip)

039490