In [ ]:
# Part 4: Lists in Python
# source: 'https://wikidocs.net/7023'

In [ ]:
"""
051 Creating a List
Based on the November 2016 movie reservation rankings, store the top 3 movie titles in a list named movie_rank. (Do not include the ranking numbers.)

Rank    Movie
1       Doctor Strange
2       Split
3       Lucky
"""

In [8]:
movie_rank = list(('Doctor Strange', 'Split', 'Lucky'))
print(movie_rank)

['Doctor Strange', 'Split', 'Lucky']

In [ ]:
"""
052 Add an Element to a List
Add "Batman" to the movie_rank list from problem 051.
"""

In [9]:
movie_rank.append("Batman")
print(movie_rank)

['Doctor Strange', 'Split', 'Lucky', 'Batman']

In [ ]:
"""
053
The movie_rank list is currently bound to the following four movie titles. Add "Superman" between "Doctor Strange" and "Split".

movie_rank = ['Doctor Strange', 'Split', 'Lucky', 'Batman']
"""

In [14]:
movie_rank = ['Doctor Strange', 'Split', 'Lucky', 'Batman']
movie_rank.insert(1, "SuperMan")
print(movie_rank)

['Doctor Strange', 'SuperMan', 'Split', 'Lucky', 'Batman']

In [ ]:
"""
053
Delete 'Lucky' from the movie_rank list.

movie_rank = ['Doctor Strange', 'Split', 'Lucky', 'Batman']
"""

In [16]:
movie_rank = ['Doctor Strange', 'Split', 'Lucky', 'Batman']
movie_rank.remove("Lucky")
print(movie_rank)

['Doctor Strange', 'Split', 'Batman']

In [ ]:
"""
054
Delete 'Split' and 'Batman' from the movie_rank list.

movie_rank = ['Doctor Strange', 'Split', 'Lucky', 'Batman']
"""

In [20]:
movie_rank = ['Doctor Strange', 'Split', 'Lucky', 'Batman']
movie_rank.remove("Split")
movie_rank.remove("Batman")
print(movie_rank)

['Doctor Strange', 'Lucky']

In [ ]:
"""
056
Given the lists lang1 and lang2, create a new list langs that contains all the elements from both lang1 and lang2.

>> lang1 = ["C", "C++", "JAVA"]
>> lang2 = ["Python", "Go", "C#"]

Example Output:
>> langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
"""

In [21]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [24]:
lang = lang1 + lang2
print(lang)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
"""
057
Print the maximum and minimum values from the following list. (Hint: use the min() and max() functions)

nums = [1, 2, 3, 4, 5, 6, 7]

Example Output:
max:  7
min:  1
"""

In [28]:
nums = [1, 2, 3, 4, 5, 6, 7]

print("max: ", max(nums))
print("max: ", min(nums))

max:  7
max:  1

In [ ]:
"""
058
Print the sum of the following list.

nums = [1, 2, 3, 4, 5]

Example Output:
15
"""

In [30]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
"""
059
Count and display the number of items stored in the following list.

cook = ["Pizza", "Kimbap", "Dumplings", "Seasoned Chicken", "Jokbal", "Pizza", "Kimchi Dumplings", "Jjolmyeon", "Sausage", "Ramen", "Patbingsu", "Kimchi Pancake"]
"""

In [32]:
cook = ["Pizza", "Kimbap", "Dumplings", "Seasoned Chicken", "Jokbal", "Pizza", "Kimchi Dumplings", "Jjolmyeon", "Sausage", "Ramen", "Patbingsu", "Kimchi Pancake"]

print(len(cook))

12

In [ ]:
"""
060
Print the average of the following list.

nums = [1, 2, 3, 4, 5]

Example Output:
3.0
"""

In [35]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [ ]:
"""
061
The variable price contains date and closing price information. Print only the price information, excluding the date. (Hint: use slicing)

price = ['20180728', 100, 130, 140, 150, 160, 170]

Example Output:
[100, 130, 140, 150, 160, 170]
"""

In [36]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [37]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
"""
062
Use slicing to print only the odd numbers.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Example Output:
[1, 3, 5, 7, 9]
"""

In [39]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
"""
063
Use slicing to print only the even numbers.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Example Output:
[2, 4, 6, 8, 10]
"""

In [40]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
"""
064
Use slicing to print the numbers in the list in reverse order.

nums = [1, 2, 3, 4, 5]

Example Output:
[5, 4, 3, 2, 1]
"""

In [42]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
"""
065
The interest list is bound to the data below.

interest = ['Samsung Electronics', 'LG Electronics', 'Naver']

Using the interest list, print the following:

Example Output:
Samsung Electronics Naver
"""

In [43]:
interest = ['Samsung Electronics', 'LG Electronics', 'Naver']

In [44]:
print(interest[0], interest[-1])

Samsung Electronics Naver

In [ ]:
"""
066 join method
The interest list is bound to the data below.

interest = ['Samsung Electronics', 'LG Electronics', 'Naver', 'SK Hynix', 'Mirae Asset Daewoo']

Using the interest list, print the following:

Example Output:
Samsung Electronics LG Electronics Naver SK Hynix Mirae Asset Daewoo
"""

In [47]:
interest = ['Samsung Electronics', 'LG Electronics', 'Naver', 'SK Hynix', 'Mirae Asset Daewoo']

In [48]:
print(" ".join(interest))

Samsung Electronics LG Electronics Naver SK Hynix Mirae Asset Daewoo

In [ ]:
"""
067 join method
The interest list is bound to the data below.

interest = ['Samsung Electronics', 'LG Electronics', 'Naver', 'SK Hynix', 'Mirae Asset Daewoo']

Using the interest list, print the following:

Example Output:
Samsung Electronics/LG Electronics/Naver/SK Hynix/Mirae Asset Daewoo
"""

In [49]:
print("/".join(interest))

Samsung Electronics/LG Electronics/Naver/SK Hynix/Mirae Asset Daewoo

In [ ]:
"""
068 join method
The interest list is bound to the data below.

interest = ['Samsung Electronics', 'LG Electronics', 'Naver', 'SK Hynix', 'Mirae Asset Daewoo']

Use the join() method to print the interest list as shown below:

Example Output:
Samsung Electronics
LG Electronics
Naver
SK Hynix
Mirae Asset Daewoo
"""

In [51]:
print("\n".join(interest))

Samsung Electronics
LG Electronics
Naver
SK Hynix
Mirae Asset Daewoo

In [ ]:
"""
069 split method for strings
Company names are stored as a single string separated by slashes ('/').

string = "Samsung Electronics/LG Electronics/Naver"

Split this string and store the result in a list named interest.

Example Output:
>> print(interest)
['Samsung Electronics', 'LG Electronics', 'Naver']
"""

In [52]:
string = "Samsung Electronics/LG Electronics/Naver"
interest = string.split("/")
print(interest)

['Samsung Electronics', 'LG Electronics', 'Naver']

In [ ]:
"""
070 List Sorting
Sort the values in the list in ascending order.

data = [2, 4, 3, 1, 5, 10, 9]
"""

In [56]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]