In [ ]:
"""
# Part 8: loops (for, while) in Python (part 1/7)
# source: 'https://wikidocs.net/78562'
"""

In [ ]:
"""
131
Predict the output of the following for loop.

fruits = ["apple", "tangerine", "watermelon"]
for item in fruits:
    print(item)
"""

In [1]:
fruits = ["apple", "tangerine", "watermelon"]
for item in fruits:
    print(item)

apple
tangerine
watermelon

In [ ]:
"""
132
Predict the output of the following for loop.

fruits = ["apple", "tangerine", "watermelon"]
for item in fruits:
    print("#####")
"""

In [2]:
fruits = ["apple", "tangerine", "watermelon"]
for item in fruits:
    print("#####")

#####
#####
#####

In [ ]:
"""
133
Write code that performs the same function as the following for loop.

for item in ["A", "B", "C"]:
    print(item)
"""

In [6]:
variable = "A"
print(variable)

variable = "B"
print(variable)

variable = "C"
print(variable)

A
B
C

In [5]:
for item in ["A", "B", "C"]:
    print(item)

A
B
C

In [ ]:
"""
134
Rewrite the following for loop using individual statements that perform the same action.

for item in ["A", "B", "C"]:
    print("Output:", item)
"""

In [7]:
variable = "A"
print("Output:", variable)

variable = "B"
print("Output:", variable)

variable = "C"
print("Output:", variable)

Output: A
Output: B
Output: C

In [8]:
for item in ["A", "B", "C"]:
    print("Output:", item)

Output: A
Output: B
Output: C

In [ ]:
"""
135
Rewrite the following for loop using individual statements that perform the same action.

for item in ["A", "B", "C"]:
    b = item.lower()
    print("Converted:", b)
"""

In [9]:
item = "A"
b = item.lower()
print("Converted:", b)

item = "B"
b = item.lower()
print("Converted:", b)

item = "C"
b = item.lower()
print("Converted:", b)

Converted: a
Converted: b
Converted: c

In [10]:
for item in ["A", "B", "C"]:
    b = item.lower()
    print("Converted:", b)

Converted: a
Converted: b
Converted: c

In [ ]:
"""
136
Rewrite the following code using a for loop.

value = 10
print(value)
value = 20
print(value)
value = 30
print(value)
"""

In [12]:
for value in [10,20,30]:
    print(value)

10
20
30

In [11]:
value = 10
print(value)
value = 20
print(value)
value = 30
print(value)

10
20
30

In [ ]:
"""
137
Rewrite the following code using a for loop.

print(10)
print(20)
print(30)
"""

In [13]:
for integer in [10,20,30]:
    print(integer)

10
20
30

In [14]:
print(10)
print(20)
print(30)

10
20
30

In [ ]:
"""
138
Rewrite the following code using a for loop.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
"""

In [15]:
for integer in [10,20,30]:
    print(integer)
    print("-------")

10
-------
20
-------
30
-------

In [16]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [ ]:
"""
139
Rewrite the following code using a for loop.

print("++++")
print(10)
print(20)
print(30)
"""

In [17]:
print("++++")
for integer in [10,20,30]:
    print(integer)

++++
10
20
30

In [18]:
print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [ ]:
"""
140
Rewrite the following code using a for loop.

print("-------")
print("-------")
print("-------")
print("-------")
"""

In [19]:
for integer in range(0,4):
    print("-------")

-------
-------
-------
-------

In [20]:
print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [ ]:
"""
# Part 8: loops (for, while) in Python (part 2/7)
# source: 'https://wikidocs.net/7020'
"""

In [ ]:
"""
141
Given a list of sales prices,
use a for loop to print each price including tax.
Assume tax is 10 units.

list = [100, 200, 300]
110
210
310
"""

In [22]:
list = [100, 200, 300]
for price in list:
    print(price + 10)

110
210
310

In [ ]:
"""
142
Use a for loop to print the values in the list as follows:

list = ["Kimbap", "Ramen", "Fried Food"]
Today's menu: Kimbap
Today's menu: Ramen
Today's menu: Fried Food
"""

In [23]:
list = ["Kimbap", "Ramen", "Fried Food"]

for food in list:
    print(f"Today's menu: {food}")

Today's menu: Kimbap
Today's menu: Ramen
Today's menu: Fried Food

In [ ]:
"""
143
A list contains stock names.
Print the length of each string in the list as shown below:

list = ["SK Hynix", "Samsung Electronics", "LG Electronics"]
6
4
4
"""

In [24]:
list = ["SK Hynix", "Samsung Electronics", "LG Electronics"]

for company in list:
    print(f"The length of this word {company} is {len(company)}")

The length of this word SK Hynix is 8
The length of this word Samsung Electronics is 19
The length of this word LG Electronics is 14

In [ ]:
"""
144
A list contains animal names as strings.
Print the animal name along with the number of characters in each string:

list = ['dog', 'cat', 'parrot']
dog 3
cat 3
parrot 6
"""

In [25]:
list = ['dog', 'cat', 'parrot']

for animal in list:
    print(f"{animal} {len(animal)}")

dog 3
cat 3
parrot 6

In [ ]:
"""
145
A list contains animal names.
Use a for loop to print only the first letter of each animal name:

d
c
p
"""

In [26]:
list = ['dog', 'cat', 'parrot']

for animal in list:
    print(animal[0])

d
c
p

In [ ]:
"""
146
A list contains three numbers.
Use a for loop to print as follows:

list = [1, 2, 3]
3 x 1
3 x 2
3 x 3
"""

In [27]:
list = [1, 2, 3]

for number in list:
    print(f"3 x {number}")

3 x 1
3 x 2
3 x 3

In [ ]:
"""
147
A list contains three numbers.
Use a for loop to print the result of multiplying each number by 3:

list = [1, 2, 3]
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
"""

In [28]:
list = [1, 2, 3]

for number in list:
    print(f"3 x {number} = {3 * number}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
"""
148
A list contains four strings.
Use a for loop to print as follows:

list = ["Ga", "Na", "Da", "Ra"]
Na
Da
Ra
"""

In [29]:
list = ["Ga", "Na", "Da", "Ra"]

for string in list[1:]:
    print(string)

Na
Da
Ra

In [ ]:
"""
149
A list contains four strings.
Use a for loop to print as follows:

list = ["Ga", "Na", "Da", "Ra"]
Ga
Da
"""

In [30]:
list = ["Ga", "Na", "Da", "Ra"]

for string in list[::2]:
    print(string)

Ga
Da

In [ ]:
"""
150
A list contains four strings.
Use a for loop to print as follows:

list = ["Ga", "Na", "Da", "Ra"]
Ra
Da
Na
Ga
"""

In [31]:
list = ["Ga", "Na", "Da", "Ra"]

for string in list[::-1]:
    print(string)

Ra
Da
Na
Ga

In [ ]:
"""
# Part 8: loops (for, while) in Python (part 3/7)
# source: 'https://wikidocs.net/78768'
"""

In [ ]:
"""
151
A list contains four integers.

list = [3, -20, -3, 44]
Use a for loop to print only the negative numbers from the list:

-20
-3
"""

In [32]:
list = [3, -20, -3, 44]

for number in list:
    if number < 0:
        print(number)
    else:
        pass

-20
-3

In [ ]:
"""
152
Use a for loop to print only the multiples of 3:

list = [3, 100, 23, 44]
3
"""

In [33]:
list = [3, 100, 23, 44]

for number in list:
    if number % 3 == 0:
        print(number)
    else:
        pass

3

In [ ]:
"""
153
From the list, print the multiples of 3 that are less than 20:

list = [13, 21, 12, 14, 30, 18]
12
18
"""

In [34]:
list = [13, 21, 12, 14, 30, 18]

for number in list:
    if (number % 3 == 0) and (number < 20):
        print(number)

12
18

In [ ]:
"""
154
From the list, print the strings that are 3 characters or longer:

list = ["I", "study", "python", "language", "!"]
study
python
language
"""

In [35]:
list = ["I", "study", "python", "language", "!"]

for string in list:
    if (len(string) >= 3):
        print(string)

study
python
language

In [ ]:
"""
155
From the list, print only the uppercase letters:

list = ["A", "b", "c", "D"]
A
D

(Note) The `isupper()` method checks if a character is uppercase.

>> var = "A"
>> var.isupper()
True
>> var = "a"
>> var.isupper()
False
"""

In [36]:
list = ["A", "b", "c", "D"]

for character in list:
    if character.isupper():
        print(character)

A
D

In [ ]:
"""
156
From the list, print only the lowercase letters:

list = ["A", "b", "c", "D"]
b
c
"""

In [38]:
list = ["A", "b", "c", "D"]
for character in list:
    if character.islower():
        print(character)

b
c

In [ ]:
"""
157
Capitalize the first letter of each name and print them:

list = ['dog', 'cat', 'parrot']
Dog
Cat
Parrot

(Note) The `upper()` method converts a string to uppercase.

>> var = "a"
>> var.upper()
A
>> var = "abc"
>> var.upper()
ABC
"""

In [39]:
list = ['dog', 'cat', 'parrot']

for animal in list:
    print(animal.capitalize())

Dog
Cat
Parrot

In [ ]:
"""
158
From a list of file names, remove the file extension and print only the file name.
(Hint: use the `split()` method)

list = ['hello.py', 'ex01.py', 'intro.hwp']
hello
ex01
intro
"""

In [40]:
list = ['hello.py', 'ex01.py', 'intro.hwp']
for fileName in list:
    fileName_split = fileName.split('.')
    print(fileName_split[0])

hello
ex01
intro

In [ ]:
"""
159
From a list of file names, print only the files with the `.h` extension:

list = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
define.h
"""

In [43]:
for fileName in list:
    fileName_split = fileName.split('.')
    if fileName_split[1] == 'h':
        print(fileName)

intra.h
define.h

In [ ]:
"""
160
From a list of file names, print the files with either `.h` or `.c` extensions:

list = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
intra.c
define.h
"""

In [42]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for fileName in list:
    fileName_split = fileName.split('.')
    if (fileName_split[1] == 'h') or (fileName_split[1] == 'c'):
        print(fileName)

intra.h
intra.c
define.h

In [ ]:
"""
# Part 8: loops (for, while) in Python (part 4/7)
# source: 'https://wikidocs.net/7033'
"""

In [ ]:
"""
161
Using a for loop and the range function,
write a program that prints numbers from 0 to 99, one per line.
"""

In [44]:
for number in range(0, 100):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
"""
162
The World Cup is held every 4 years.
Using `range()`, print all the years from 2002 to 2050 when the World Cup takes place.

2002
2006
2010
...
2042
2046
2050

(Note) The third parameter of `range()` determines the step size.

>> print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]
"""

In [2]:
for year in range(2002,2051,4):
    print(year)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
"""
163
Print the multiples of 3 from numbers between 1 and 30.

3
6
9
12
15
18
21
24
27
30
"""

In [3]:
for number in range(1, 31):
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18
21
24
27
30

In [ ]:
"""
164
Print numbers from 99 down to 0, decreasing by 1, one per line.
"""

In [4]:
for number in range(99,-1, -1):
    print(number)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
"""
165
Use a for loop to print as follows:

0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
"""

In [5]:
for number in range(0,10):
    print(number/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
"""
166
Print the 3-times multiplication table:

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
"""

In [6]:
for number in range(1,10):
    print(f"3*{number} = {number*3}")

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27

In [ ]:
"""
167
Print the 3-times multiplication table, but only for odd numbers:

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
"""

In [7]:
for number in range(1,10):
    if number % 2 == 1:
        print(f"3*{number} = {number*3}")

3*1 = 3
3*3 = 9
3*5 = 15
3*7 = 21
3*9 = 27

In [ ]:
"""
168
Write a program using a for loop to print the sum of all numbers from 1 to 10.
Sum: 55
"""

In [8]:
Sum = 0
for number in range(1,11):
    Sum = Sum + number

print(Sum)

55

In [ ]:
"""
170
Write a program using a for loop to print the product of all numbers from 1 to 10.
"""

In [9]:
Product = 1

for number in range(1,11):
    Product = Product * number

print(Product)

3628800

In [ ]:
"""
# Part 8: loops (for, while) in Python (part 5/7)
# source: 'https://wikidocs.net/25315'
"""

In [ ]:
"""
171
Print the data in the list as shown below using a for loop and the range function.

price_list = [32100, 32150, 32000, 32500]
32100
32150
32000
32500
"""

In [10]:
price_list = [32100, 32150, 32000, 32500]

for price in price_list:
    print(price)

32100
32150
32000
32500

In [ ]:
"""
172
Print the data in the list as shown below using a for loop and the range function.

price_list = [32100, 32150, 32000, 32500]
0 32100
1 32150
2 32000
3 32500
"""

In [11]:
price_list = [32100, 32150, 32000, 32500]
print(len(price_list))

4

In [12]:
for index in range(0, len(price_list)):
    print(price_list[index])

32100
32150
32000
32500

In [ ]:
"""
173
Print the data in the list as shown below using a for loop and the range function.

price_list = [32100, 32150, 32000, 32500]
3 32100
2 32150
1 32000
0 32500
"""

In [13]:
for index in range(len(price_list)):
    print(3 - index, price_list[index])

3 32100
2 32150
1 32000
0 32500

In [ ]:
"""
174
Print the data in the list as shown below using a for loop and the range function.

price_list = [32100, 32150, 32000, 32500]
100 32150
110 32000
120 32500
"""

In [14]:
for index in range(1, len(price_list)):
    print(90 + (index * 10), price_list[index])

100 32150
110 32000
120 32500

In [ ]:
"""
175
Print `my_list` as shown below:

my_list = ["Ga", "Na", "Da", "Ra"]
Ga Na
Na Da
Da Ra
"""

In [15]:
my_list = ["Ga", "Na", "Da", "Ra"]

for index in range(len(my_list) - 1):
    print(my_list[index], my_list[index+1])

Ga Na
Na Da
Da Ra

In [ ]:
"""
176
Print the list as shown below:

my_list = ["Ga", "Na", "Da", "Ra", "Ma"]
Ga Na Da
Na Da Ra
Da Ra Ma
"""

In [16]:
my_list = ["Ga", "Na", "Da", "Ra", "Ma"]

for index in range(len(my_list) - 2):
    print(my_list[index], my_list[index+1], my_list[index+2])

Ga Na Da
Na Da Ra
Da Ra Ma

In [ ]:
"""
177
Use a loop and the `range()` function to print `my_list` as shown below:

my_list = ["Ga", "Na", "Da", "Ra"]
Ra Da
Da Na
Na Ga
"""

In [17]:
my_list = ["Ga", "Na", "Da", "Ra"]

for index in range(len(my_list) - 1, 0, -1):
    print(my_list[index], my_list[index -1])

Ra Da
Da Na
Na Ga

In [ ]:
"""
178
The list contains four integers.
For each element, print the difference between it and the value to its right.

my_list = [100, 200, 400, 800]
For example, take 100 and subtract it from 200, then 200 and 400, and so on.

100
200
400
"""

In [18]:
my_list = [100, 200, 400, 800]

for index in range(len(my_list) - 1):
    print(my_list[index + 1] - my_list[index])

100
200
400

In [ ]:
"""
179
The list contains closing prices for six days.
Calculate the 3-day moving average and print each result line by line.

my_list = [100, 200, 400, 800, 1000, 1300]

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
"""

In [19]:
my_list = [100, 200, 400, 800, 1000, 1300]

for index in range(len(my_list) - 2):
    print(sum(my_list[index:index+3]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
"""
180
The list stores low and high prices for five days.
Define "volatility" as the difference between high and low prices.
Using two lists, `low_prices` and `high_prices`, store the 5-day volatility in a new list called `volatility`.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
"""

In [20]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for index in range(len(low_prices)):
    volatility.append(high_prices[index] - low_prices[index])

print(volatility)

[50, 100, 30, 80, 0]

In [21]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for low, high in zip(low_prices, high_prices):
    volatility.append(high-low)

print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
"""
# Part 8: loops (for, while) in Python (part 6/7)
# source: 'https://wikidocs.net/78564'
"""

In [ ]:
"""
181
From the table below, define a 2D list `apartment` with each row as a separate list, totaling 3 lists.

RM101  RM102
RM201  RM202
RM301  RM302
"""

In [22]:
apartment = [["RM101", "RM102"], ["RM201", "RM202"], ["RM301", "RM302"]]
print(apartment)

[['RM101', 'RM102'], ['RM201', 'RM202'], ['RM301', 'RM302']]

In [ ]:
"""
182
From the table below, define a 2D list `stock` with each column as a separate list, totaling 2 lists.

Opening Price  Closing Price
100            80
200            210
300            330
"""

In [23]:
stock = [[100, 200, 300], [80, 210, 330]]
print(stock)

[[100, 200, 300], [80, 210, 330]]

In [ ]:
"""
183
Express the table below as a dictionary named `stock`.
Store the "Opening Price" as a key with the values from that column in a list.
Do the same for the "Closing Price".

Opening Price  Closing Price
100            80
200            210
300            330
"""

In [24]:
stock = {"Opening Price": [100, 200, 300], "Closing Price": [80, 210, 330]}
print(stock)

{'Opening Price': [100, 200, 300], 'Closing Price': [80, 210, 330]}

In [ ]:
"""
184
Express the table below as a dictionary named `stock`.
Use the date as the key, and store the remaining values in each row as a list.

10/10  80  110  70  90
10/11  210 230 190 200
"""

In [25]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [ ]:
"""
185
Print the data stored in the list as shown below:

apart = [ [101, 102], [201, 202], [301, 302] ]

101 RM
102 RM
201 RM
202 RM
301 RM
302 RM
"""

In [26]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for number in row:
        print(number, "RM")

101 RM
102 RM
201 RM
202 RM
301 RM
302 RM

In [ ]:
"""
186
Print the data stored in the list as shown below:

apart = [ [101, 102], [201, 202], [301, 302] ]
301 RM
302 RM
201 RM
202 RM
101 RM
102 RM
"""

In [27]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for index in range(len(apart) - 1, -1, -1):
    for number in apart[index]:
        print(number, "RM")

301 RM
302 RM
201 RM
202 RM
101 RM
102 RM

In [ ]:
"""
187
Print the data stored in the list as shown below:

apart = [ [101, 102], [201, 202], [301, 302] ]
302 RM
301 RM
202 RM
201 RM
102 RM
101 RM
"""

In [28]:
apart = [ [101, 102], [201, 202], [301, 302] ]

In [29]:
for index in range(len(apart) - 1, -1, -1):
    for number in range(len(apart[index]) - 1, -1, -1):
        print(apart[index][number], "RM")

302 RM
301 RM
202 RM
201 RM
102 RM
101 RM

In [ ]:
"""
188
Print the data stored in the list as shown below:

apart = [ [101, 102], [201, 202], [301, 302] ]
101 ho
-----
102 ho
-----
201 ho
-----
202 ho
-----
301 ho
-----
302 ho
-----
"""

In [30]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for number in row:
        print(number, "ho")
        print("-----")

101 ho
-----
102 ho
-----
201 ho
-----
202 ho
-----
301 ho
-----
302 ho
-----

In [ ]:
"""
189
Print the data stored in the list as shown below:

apart = [ [101, 102], [201, 202], [301, 302] ]
101 ho
102 ho
-----
201 ho
202 ho
-----
301 ho
302 ho
-----
"""

In [31]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for number in row:
        print(number, "ho")
    print("-----")

101 ho
102 ho
-----
201 ho
202 ho
-----
301 ho
302 ho
-----

In [ ]:
"""
190
Print the data stored in the list as shown below:

apart = [ [101, 102], [201, 202], [301, 302] ]
101 RM
102 RM
201 RM
202 RM
301 RM
302 RM
-----
"""

In [32]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for room in row:
        print(room, "RM")

101 RM
102 RM
201 RM
202 RM
301 RM
302 RM

In [ ]:
"""
# Part 8: loops (for, while) in Python (part 7/7)
# source: 'https://wikidocs.net/78565'
"""

In [ ]:
"""
191
The variable `data` contains OHLC (open/high/low/close)
price information for purchased stocks.

data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]

Assuming a commission rate of 0.014%,
print each price including the commission on a separate line.

2000.28
3050.427
2050.2870000000003
...
"""

In [33]:
data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]

In [41]:
commission_rate = 0.014 / 100
for row in data:
    for price in row:
        print(float(price * (1+commission_rate)))

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
"""
192
Add a row separator "----" after each row of output from question 191.

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----
"""

In [1]:
data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]

In [2]:
commission_rate = 0.014 / 100
total_rate = 1 + commission_rate

for row in data:
    for column in row:
        print(column * total_rate)
    print("-" * 4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
"""
193  
Store the output values from question 192 into a 1-dimensional list named `result`.

>> print(result)  
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]
"""

In [3]:
data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]

In [4]:
commission_rate = 0.014 / 100
total_rate = 1 + commission_rate

result = []

for row in data:
    for column in row:
        total_amount = column * total_rate
        result.append(total_amount)

In [5]:
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
"""
194  
Store the output values from question 191 into a 2-dimensional list named `result`.  
Each row of data should be stored as a separate list.

>> print(result)  
[
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]
]
"""

In [6]:
data = [
    [2000, 3050, 2050, 1980],
    [7500, 2050, 2050, 1980],
    [15450, 15050, 15550, 14900]
]

In [11]:
commission_rate = 0.014 / 100
total_rate = 1 + commission_rate

result = []

for row in data:
    row_result = []
    
    for column in row:
        total_amount = column * total_rate
        row_result.append(total_amount)

    result.append(row_result)

In [12]:
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
"""
195  
The `ohlc` list stores OHLC (open, high, low, close) data by date.  
Print the closing prices on the screen.

ohlc = [["open", "high", "low", "close"],  
        [100, 110, 70, 100],  
        [200, 210, 180, 190],  
        [300, 310, 300, 310]]

Output:  
100  
190  
310
"""

In [13]:
ohlc = [["open", "high", "low", "close"],  
        [100, 110, 70, 100],  
        [200, 210, 180, 190],  
        [300, 310, 300, 310]]

In [14]:
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [ ]:
"""
196  
The `ohlc` list stores OHLC data by date.  
Only print closing prices greater than 150.

Output:  
190  
310
"""

In [15]:
ohlc = [["open", "high", "low", "close"],  
        [100, 110, 70, 100],  
        [200, 210, 180, 190],  
        [300, 310, 300, 310]]

In [17]:
for row in ohlc[1:]:
    closing_price = row[3]
    if closing_price > 150:
        print(closing_price)

190
310

In [ ]:
"""
197  
The `ohlc` list stores OHLC data by date.  
Only print the closing price if it is greater than or equal to the opening price.

Output:  
100  
310
"""

In [18]:
ohlc = [["open", "high", "low", "close"],  
        [100, 110, 70, 100],  
        [200, 210, 180, 190],  
        [300, 310, 300, 310]]

In [19]:
for row in ohlc[1:]:
    closing_price = row[3]
    opening_price = row[0]

    if closing_price >= opening_price:
        print(closing_price)

100
310

In [ ]:
"""
198  
The `ohlc` list stores OHLC data by date.  
Define volatility as the difference between high and low prices.  
Store the volatility values in a list named `volatility`.

>> print(volatility)  
[40, 30, 10]
"""

In [20]:
ohlc = [["open", "high", "low", "close"],  
        [100, 110, 70, 100],  
        [200, 210, 180, 190],  
        [300, 310, 300, 310]]

In [22]:
volatility = []

for row in ohlc[1:]:
    high = row[1]
    low = row[2]
    vol = high - low
    
    volatility.append(vol)

print(volatility)

[40, 30, 10]

In [ ]:
"""
199  
The list stores 3 days of OHLC data.  
Print the volatility (high - low) for days where the closing price is higher than the opening price.

Only [300, 310, 300, 310] meets this condition.  
So the volatility is 10 (310 - 300).

Output:  
10
"""

In [23]:
ohlc = [["open", "high", "low", "close"],  
        [100, 110, 70, 100],  
        [200, 210, 180, 190],  
        [300, 310, 300, 310]]

In [24]:
for row in ohlc[1:]:
    open_price = row[0]
    high_price = row[1]
    low_price = row[2]
    close_price = row[3]
    volatility = high_price - low_price

    if close_price > open_price:
        print(volatility)

10

In [ ]:
"""
200  
The list stores 3 days of OHLC data.  
Calculate the total profit if a stock was bought at the opening price and sold at the closing price each day.

Day 1 profit: 0 (100 - 100)  
Day 2 profit: -10 (190 - 200)  
Day 3 profit: 10 (310 - 300)

Total:  
0
"""

In [25]:
ohlc = [["open", "high", "low", "close"],  
        [100, 110, 70, 100],  
        [200, 210, 180, 190],  
        [300, 310, 300, 310]]

In [26]:
profit = 0

for row in ohlc[1:]:
    open_price = row[0]
    close_price = row[3]
    daily_profit = close_price - open_price

    profit = profit + daily_profit

print(profit)

0