In [ ]:
# Part 5: Tuple in Python
# source: 'https://wikidocs.net/7027'

In [1]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
"""
072
Based on the November 2016 movie reservation rankings, store the top 3 movie titles in a tuple named movie_rank. (Do not include the ranking numbers.)

Rank    Movie
1       Doctor Strange
2       Split
3       Lucky
"""

In [3]:
movie_rank = ('Doctor Strange', 'Split', 'Lucky')
print(movie_rank)

('Doctor Strange', 'Split', 'Lucky')

In [ ]:
"""
073
Create a tuple that contains the number 1.
"""

In [4]:
number_tuple = (1)
print(type(number_tuple))

<class 'int'>

In [5]:
number_tuple = (1, )
print(type(number_tuple))

<class 'tuple'>

In [ ]:
"""
074
Run the following code and explain the cause of the error.

>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment
"""

In [ ]:
"""
Explanation:
Tuples are immutable in Python, meaning their elements cannot be changed after creation. Attempting to assign a new value to an element of a tuple results in a TypeError.
"""

In [ ]:
"""
075
The variable t is bound to the values 1, 2, 3, 4 as shown below. What is the data type of the value that t is bound to?

t = 1, 2, 3, 4
"""

In [6]:
t = 1, 2, 3, 4

print(type(t))

<class 'tuple'>

In [ ]:
"""
Strictly speaking, tuples should be defined with parentheses, but for user convenience, they also work without them.
"""

In [ ]:
"""
076
The variable t is currently storing the following value. Modify the variable t so that it points to the tuple ('A', 'b', 'c') instead.

t = ('a', 'b', 'c')
"""

In [9]:
t = ('a', 'b', 'c')
t[0] = 'A' # error

TypeError: 'tuple' object does not support item assignment

In [10]:
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [ ]:
"""
077
Convert the following tuple into a list.

interest = ('Samsung Electronics', 'LG Electronics', 'SK Hynix')
"""

In [14]:
interest = ('Samsung Electronics', 'LG Electronics', 'SK Hynix')
interest_list = list(interest)
print(type(interest_list))
print(interest_list)

<class 'list'>
['Samsung Electronics', 'LG Electronics', 'SK Hynix']

In [ ]:
"""
078
Convert the following list into a tuple.

interest = ['Samsung Electronics', 'LG Electronics', 'SK Hynix']
"""

In [17]:
interest = ['Samsung Electronics', 'LG Electronics', 'SK Hynix']
interest_tuple = tuple(interest)
print(interest_tuple)
print(type(interest_tuple))

('Samsung Electronics', 'LG Electronics', 'SK Hynix')
<class 'tuple'>

In [ ]:
"""
079 Tuple Unpacking
Predict the output of the following code.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
"""

In [20]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
"""
080 range function
Create a tuple containing only the even numbers from 1 to 99.

(2, 4, 6, 8 ... 98)
"""

In [23]:
tuple_even_only = tuple(range(2,100,2))
print(tuple_even_only)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)