# Part 2: Python variables
source: https: // wikidocs.net / 7014

In [ ]:
"""
011 Using Variables
Bind the value 50,000 to a variable named Samsung_Electronics.
Print the total valuation when you hold 10 shares of Samsung Electronics stock.
"""
Samsung_Electronics = 50000
Share_Amount = 10
Volume = Samsung_Electronics * Share_Amount
print(Volume)

In [ ]:
"""
012 Using Variables
The following table shows some investment information about Samsung Electronics.
Use variables to bind values such as
market capitalization, current price, and PER.

Item	         Value
Market Cap	     298 trillion
Current Price	 50,000 won
PER	             15.79
"""

In [ ]:
trillion = 1000000000000
market_capitalization = 298 * trillion
current_price = 50000
PER = 15.79

print(market_capitalization, type(market_capitalization))
print(current_price, type(current_price))
print(PER, type(PER))

In [ ]:
"""
013 Using Variables
Variables s and t are each bound to a string.
>> s = "hello"
>> t = "python"

Using these two variables, print the following:
Expected Output:
hello! python
"""

In [ ]:
s = "hello"
t = "python"
print(s + '!', t)

In [ ]:
"""
014 Calculating Values Using Python
Try to predict the output of the code below:
>> 2 + 2 * 3
"""

In [ ]:
# prediction: 2 + 2*3 = 2 + 6 = 8
print(2+2*3)

In [ ]:
"""
015 type Function
The type() function determines the data type.
The variable a is bound to the number 128,
and the type function tells us
that it is of type int (integer).

>> a = 128
>> print(type(a))
<class 'int'>

Now, determine the type of the value
bound to the variable below:
>> a = "132"
"""

In [ ]:
a = 128
print(type(a))

In [ ]:
a = "132"
# prediction <class 'string'>
print(type(a)) # output: <class 'str'>

In [ ]:
"""
016 Converting a String to an Integer
Convert the string '720' to an integer.

>> num_str = "720"
"""

In [ ]:
num_str = "720"
print(type(int(num_str))) # output: <class 'int'>

In [ ]:
"""
017 Converting the Integer 100 to a String
Convert the integer 100 to the string '100'.
num = 100
"""

In [ ]:
num = 100
string_num = str(num)

print(string_num, type(string_num))

In [ ]:
"""
018 Converting a String to a Float
Convert the string "15.79" to a float type.
"""

In [ ]:
num_str = "15.79"
float_num = float(num_str)

print(float_num, type(float_num))

In [ ]:
"""
019 Converting a String to an Integer
The variable year is bound to a string representing a year.

Convert it to an integer and
print the last three years on the screen.

year = "2020"
"""

In [19]:
string_year = "2020"
integer_year = int(string_year)

print(integer_year - 1) # 
print(integer_year - 2)
print(integer_year - 3)

2019
2018
2017

In [ ]:
# 020 Python Calculation
"""An air conditioner is being sold on
a home shopping channel for 48,584 KRW per month
over 36 months with no interest.

Calculate the total amount and
display it on the screen. (Use variables)"""

In [1]:
monthly_price = 48584
month = 36

total_amount = monthly_price * month
print(f"The total amount is {total_amount}")

The total amount is 1749024